/* Styling that applies everywhere. */

body {
    /* No selecting */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.link {
    cursor: pointer;
}

img.contained-block {
    /* This way the image takes all space it can. */
    display: block;
    /* Height is calculated once the image is drawn. */
    height: 0px;
    width: auto;
    object-fit: contain;
}

img.contained-inline {
    display: inline-block;
    height: 0px;
    width: auto;
    object-fit: contain;
    vertical-align: bottom;
}