/* Styling that applies everywhere. */

body {
    /* No selecting */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.link {
    cursor: pointer;
}

/* Graphical elements that are displayed alongside text. */
img.text {
    /* 'block-size' instead of 'height' because it is compatible with vertical writing modes */
    block-size: 1cap;
    width: auto;
    object-fit: contain;
}