/* Styling that is part of the game's core functionality. */

/* No selecting */
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.link {
    cursor: pointer;
}

/* Graphical elements that are displayed alongside text. */
img.text {
    /* 'block-size' instead of 'height' because it is compatible with vertical writing modes */
    block-size: 1cap;
    width: auto;
    object-fit: contain;
}